.cartItemWrapper {
  display: flex;
  border: 1px dotted #333;
  border-radius: 5px;
  padding: .3rem .5rem;
  align-items: center;
  min-height: 200px;
  margin-bottom: 1em;

  h3 {
    color: #007185;
    font-weight: 700;
    font-size: 1em;
    line-height: 20px;
    margin: .3rem;
    flex: 1;
  }

  img {
    max-width: 5rem;
    height: auto;
    margin: .875rem;
  }
}
