.productSection {
  padding: 1rem;
  margin-top: 8rem;

  .productSectionWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.error {
  color: red;
  text-align: center;
}

